cpc.geogrids>=0.2.3
elevation>=1.0.5
fiona>=1.7.13
gdal>=2.2.4
geopandas>=0.3.0
matplotlib>=2.2.3
metis >= 0.2a4
networkx>=2.1
numpy>=1.14.3
pandas >= 0.23.4
progressbar2>=3.38.0
pyproj>=1.9.5
rasterio>=0.36.0
rtree>=0.8.3
scipy>=1.1.0
shapely>=1.6.4
